# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


/assets/
/assets/*
/attacks/
/attacks/*
attacks.zip
assets.zip
.venv
.env

/checkpoints/*
setup.py
# Videos, zip files, or csv
*.mp4
*.zip
*.csv# macOS
.DS_Store

# Your package metadata (exclude editable install metadata)
utmist_ai2.egg-info/
*.egg-info/

# Installed package metadata and wheels
.eggs/

# Python
__pycache__/
*.pyc

# Virtual envs
venv/
.venv/
ENV/
env/
ai2/
# Local scratch
path/
